h1, blockquote {
  text-align: center;
}

blockquote {
  margin-top: 50px;
  margin-bottom: 50px;
}

button {
  display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 5px;
  background-color: #5FC886;
  color: white;
  border: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

